.card {
    border: 0.5rem solid #008080;
    border-radius: 2rem;
    background-color: white;
    color: #008080;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > h2 {
    font-size: 2.5rem;
}

.card > h3 {
    margin: 1rem 0;
    font-size: 1.7rem;
}

.card > p {
    margin: 1rem;
    font-size: 1.4rem;
}