.card {
    border: 0.5rem solid #008080;
    background-color: white;
    color: #008080;
    padding: 2rem;
}

.card > h2 {
    font-size: 2.5rem;
}

.card > h3 {
    font-size: 1.7rem;
}

.card > p {
    font-size: 1.4rem;
}